In [1]:
import pandas as pd
import numpy as np

In [3]:
# 평균속도
df=pd.read_csv('평균속도.csv')
df.head()

   sido_code  sigungu_code  emd_code week_type  velocity_AVRG
0         37         37011   3701112   weekday          40.49
1         37         37030   3703038   weekday          57.33
2         21         21010   2101060   weekday          28.55
3         22         22050   2205062   weekday          28.84
4         37         37330   3733034   weekday          60.50

In [4]:
# 정의서 행정구역
doc=pd.read_excel('평균속도_행정구역_읍면동단위_데이터셋_명세서.xlsx',sheet_name='행정구역')

In [5]:
# 시도코드, 시도명칭만 가져오기
doc_si=doc[['시도코드','시도명칭']]
doc_si.head()

   시도코드   시도명칭
0    11  서울특별시
1    11  서울특별시
2    11  서울특별시
3    11  서울특별시
4    11  서울특별시

In [6]:
doc_si['시도명칭'].unique()

array(['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시',
       '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도',
       '경상남도', '제주특별자치도'], dtype=object)

In [7]:
doc_si['시도코드'].unique()

array([11, 21, 22, 23, 24, 25, 26, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39],
      dtype=int64)

In [8]:
df.loc[df["sido_code"] == doc_si['시도코드'].unique()[0] , "시도"] = doc_si['시도명칭'].unique()[0]

In [9]:
for i in range(doc_si['시도명칭'].nunique()):
    df.loc[df["sido_code"] == doc_si['시도코드'].unique()[i] , "시도"] = doc_si['시도명칭'].unique()[i]

In [11]:
df=df.sort_values('sido_code')
df.head()

      sido_code  sigungu_code  emd_code week_type  velocity_AVRG     시도
1659         11         11150   1115063   weekday          21.58  서울특별시
2861         11         11090   1109074   weekday          28.10  서울특별시
992          11         11040   1104054   weekday          29.30  서울특별시
1616         11         11170   1117071   weekday          23.79  서울특별시
995          11         11100   1110051   weekday          23.18  서울특별시

In [12]:
doc_sigun=doc[['시도명칭','시군구코드','시군구명칭']]
doc_sigun.head()

    시도명칭  시군구코드 시군구명칭
0  서울특별시  11010   종로구
1  서울특별시  11010   종로구
2  서울특별시  11010   종로구
3  서울특별시  11010   종로구
4  서울특별시  11010   종로구

In [13]:
doc_sigun=doc[(doc['시도명칭']=='서울특별시') | (doc['시도명칭']=='경기도')| (doc['시도명칭']=='인천광역시')]

In [14]:
doc_sigun

      시도코드   시도명칭  시군구코드 시군구명칭    읍면동코드 읍면동명칭
0       11  서울특별시  11010   종로구  1101053   사직동
1       11  서울특별시  11010   종로구  1101054   삼청동
2       11  서울특별시  11010   종로구  1101055   부암동
3       11  서울특별시  11010   종로구  1101056   평창동
4       11  서울특별시  11010   종로구  1101057   무악동
...    ...    ...    ...   ...      ...   ...
1725    31    경기도  31380   양평군  3138037   청운면
1726    31    경기도  31380   양평군  3138038   양동면
1727    31    경기도  31380   양평군  3138039   지평면
1728    31    경기도  31380   양평군  3138040   용문면
1729    31    경기도  31380   양평군  3138041   개군면

[1138 rows x 6 columns]

In [15]:
doc_sigun=doc_sigun[['시도명칭','시군구코드','시군구명칭']]

In [16]:
doc_sigun['시군구코드'].unique()[0]

11010

In [17]:
doc_sigun['시군구코드'].nunique()

77

In [18]:
doc_sigun['시군구명칭'].nunique()

76

### 확인결과 서울, 인천 모두 중구가 있는 것을 확인할 수 있음

In [20]:
doc_sigun['시군구코드'].unique()[25]

23010

In [19]:
a=[]
for i in range(doc_sigun['시군구코드'].nunique()):
    a.append(doc_sigun['시군구코드'].unique()[i])
print(a)

[11010, 11020, 11030, 11040, 11050, 11060, 11070, 11080, 11090, 11100, 11110, 11120, 11130, 11140, 11150, 11160, 11170, 11180, 11190, 11200, 11210, 11220, 11230, 11240, 11250, 23010, 23020, 23030, 23040, 23050, 23060, 23070, 23080, 23310, 23320, 31011, 31012, 31013, 31014, 31021, 31022, 31023, 31030, 31041, 31042, 31050, 31060, 31070, 31080, 31091, 31092, 31101, 31103, 31104, 31110, 31120, 31130, 31140, 31150, 31160, 31170, 31180, 31191, 31192, 31193, 31200, 31210, 31220, 31230, 31240, 31250, 31260, 31270, 31280, 31350, 31370, 31380]

In [21]:
b=[]
for i in range(25):
    b.append(doc_sigun['시군구명칭'].unique()[i])
print(b)

['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구']

In [22]:
b.append('인천_중구')

In [23]:
for i in range(25,76):
    b.append(doc_sigun['시군구명칭'].unique()[i])
print(b)

['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구', '인천_중구', '동구', '남구', '연수구', '남동구', '부평구', '계양구', '서구', '강화군', '옹진군', '수원시 장안구', '수원시 권선구', '수원시 팔달구', '수원시 영통구', '성남시 수정구', '성남시 중원구', '성남시 분당구', '의정부시', '안양시 만안구', '안양시 동안구', '부천시', '광명시', '평택시', '동두천시', '안산시 상록구', '안산시 단원구', '고양시 덕양구', '고양시 일산동구', '고양시 일산서구', '과천시', '구리시', '남양주시', '오산시', '시흥시', '군포시', '의왕시', '하남시', '용인시 처인구', '용인시 기흥구', '용인시 수지구', '파주시', '이천시', '안성시', '김포시', '화성시', '광주시', '양주시', '포천시', '여주시', '연천군', '가평군', '양평군']

In [24]:
len(a)

77

In [25]:
len(b)

77

In [26]:
sigun=pd.DataFrame({'시군구코드':a,'시군구명칭':b})
sigun

    시군구코드 시군구명칭
0   11010   종로구
1   11020    중구
2   11030   용산구
3   11040   성동구
4   11050   광진구
..    ...   ...
72  31270   포천시
73  31280   여주시
74  31350   연천군
75  31370   가평군
76  31380   양평군

[77 rows x 2 columns]

In [27]:
for i in range(sigun['시군구코드'].nunique()):
    df.loc[df["sigungu_code"] == sigun['시군구코드'].unique()[i] , "시군구"] = sigun['시군구명칭'].unique()[i]

In [28]:
df=df[(df['시도']=='서울특별시') | (df['시도']=='경기도')| (df['시도']=='인천광역시')]

In [29]:
df

,sido_code,sigungu_code,emd_code,week_type,velocity_AVRG,시도,시군구
1659,11,11150,1115063,weekday,21.58,서울특별시,양천구
2861,11,11090,1109074,weekday,28.10,서울특별시,강북구
992,11,11040,1104054,weekday,29.30,서울특별시,성동구
1616,11,11170,1117071,weekday,23.79,서울특별시,구로구
995,11,11100,1110051,weekday,23.18,서울특별시,도봉구
...,...,...,...,...,...,...,...
464,31,31023,3102377,weekday,30.64,경기도,성남시 분당구
1483,31,31013,3101367,weekday,24.45,경기도,수원시 팔달구
462,31,31042,3104265,weekday,17.55,경기도,안양시 동안구
55,31,31103,3110355,weekday,25.99,경기도,고양시 일산동구
1491,31,31130,3113032,weekday,25.67,경기도,남양주시

In [30]:
df.to_csv('수도권 평균속도.csv',encoding='utf-8-sig',index=False)